@font-face {
  font-family: 'Arial';
  src: url('arial.ttf')  format('truetype'); /* Safari, Android, iOS */
}

body {
  --background-color: #000;
}
#player {
  --background-image: url("assets/background.png");
  --background-repeat: no-repeat;
  --background-size: cover;
  --watermark-image: url("assets/ocs/ocs_logo.png");
  --spinner-image: url("assets/buffering.png");
  --buffering-image: url("assets/buffering.png");
  --logo-image: url("assets/ocs/ocs_launching.jpg");
  --theme-hue: 18;
  --live-progress-color: #FF6600;
  --progress-color: #FF6600;
  --splash-image: url("assets/ocs/ocs_idle.jpg");
  --play-image: url("assets/paused-withplayicon.png");
  --pause-image: url("assets/paused.png");
}

#Debug {display:none;}
#Debug[state="on"] {display:block; position:absolute; top:50px; left:50px; width:600px;}
#Debug[state="on"] span {padding:10px; margin:10px; border:1px solid #FF6600; color:#FFF;}

#Error {display:none;}
#Error[state="on"] {
  display:block;
  position:absolute;
  top:55%;
  left:25%;
  z-index:500;
  width:50%;
  height:220px;
  background-color: #000;
  box-shadow: 0 0 3px 2px #8f8f8f;
  text-align:left;
  color:#FFF;
}
#Error[state="on"] h1 {margin:30px; font-size:24px;}
#Error[state="on"] p {margin:30px; font-size:16px;}



#WatermarkHss {
  display:block;
  position:absolute;
  top:55%;
  left:40%;
  z-index:500;
  width:50%;
  height:220px;
  text-align:left;
  color:#fff;
  opacity: 0.2;
  margin:30px; 
  font-size:32px;
}
